body{
    background-color: #ccc;
}
@media (min-width: 576px) {
    body{
        background-color: red;
    }
}
@media (min-width: 768px) {
    body{
        background-color: blue;
    }
}
@media (min-width: 992px) {
    body{
        background-color: green;
    }
}
@media (min-width: 1200px) {
    body{
        background-color: cyan
    }
}
@media (min-width: 1400px) {
    body{
        background-color: yellow;
    }
}
@media (min-width: 1600px) {
    body{
        background-color: violet;
    }
}
@media (min-width: 1920px) {
    body{
        background-color: orange;
    }
}